<%= link_to representative_path(representative) do %>
<div class= "card-rep">
    <img src= "https://www.nosdeputes.fr/depute/photo/<%=representative.slug%>/200" />
    <h4><%=representative.last_name%></h4>
    <h4><%=representative.first_name%></h4>
    <p><%=representative.party_acronym %></p>
</div>
<% end %>