<%= link_to law_path(law) do %>
  <div class="card-law">
    <%= image_tag law.photo, alt: "alttext" %>
    <div class="card-law-infos">
      <div>
        <h4><%= law.title %></h4>
        <p>#<%= law.source %> du <%= I18n.l(law.date, format: '%A, %d %b %Y', locale: :fr) %></p>
        <p><%= law.description %></p>
      </div>
      <div class="card-law-votes">
        <p class="for-votes"><i class="fas fa-thumbs-up"></i> <%= law.get_upvotes.size %></p>
        <p class="against-votes"><i class="fas fa-thumbs-down"></i> <%= law.get_downvotes.size %></p>
      </div>
    </div>
  </div>
<% end %>

