<nav>
  <%= link_to "CC", root_path, id: "logo" %>
  <% if current_user %>
      <div class="menu">
        <p class="nav-link">Manifesto</p>
        <%= link_to "Lois", laws_path, class: 'nav-link' %>  
        <%= link_to "Députés", representatives_path, class: 'nav-link' %>
        <%= link_to "Mon député", representative_path(current_user.district.representative), class: 'nav-btn' %>
        <%= image_tag("https://www.fluidogroup.com/wp-content/uploads/2018/09/user-icon-silhouette-ae9ddcaf4a156a47931d5719ecee17b9-400x400.png", input_html: { id: "navbarDropdown" }, data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }, class: 'avatar dropdown-toggle') %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <i class="fas fa-sign-out-alt"></i><%= link_to "    Déconnection", destroy_user_session_path(@user), method: :delete, class: 'text-capitalize' %>
        </div>
      </div>
  <% else %>
    <div class="menu">
      <p class="nav-link">Manifesto</p>
      <%= link_to "Députés", representatives_path, class: 'nav-link' %>
      <%= link_to "Lois", laws_path, class: 'nav-link' %>
      <div class="bar"></div>
      <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
      <%= link_to "Log in", new_user_session_path, class: 'nav-link' %>
    </div>
  <% end %>
</nav>



