<nav>
  <%= link_to "CC", root_path, id: "logo" %>
  <% if current_user %>
      <div class="menu">
        <p class="nav-link">Manifesto</p>
        <%= link_to "Lois", laws_path, class: 'nav-link' %>  
        <%= link_to "Députés", representatives_path, class: 'nav-link' %>
        <%= link_to "Mon député", representative_path(current_user.district.representative), class: 'nav-btn' %>
        <%= image_tag("https://images.unsplash.com/photo-1546881963-ac8d67aee789?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=627&q=80", input_html: { id: "navbarDropdown" }, data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }, class: 'avatar dropdown-toggle') %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Se déconnecter", destroy_user_session_path(@user), method: :delete %>
        </div>
      </div>
  <% else %>
    <div class="menu">
      <p class="nav-link">Manifesto</p>
      <%= link_to "Députés", representatives_path, class: 'nav-link' %>
      <%= link_to "Lois", laws_path, class: 'nav-link' %>
      <div class="bar"></div>
      <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
      <%= link_to "Log in", new_user_session_path, class: 'nav-link' %>
    </div>
  <% end %>
</nav>



