<div class="banner_home">
  <%= render 'shared/navbar' %>
  <div class="tagline">
    <h1 class="title-1">Citizens Can</h1>
    <p>Reprenez le pouvoir à l'Assemblée nationale</p>
    <%= render 'shared/search_bar_representatives' %>
  </div>
</div>

<div class="container">
  <h2 class="title-2">Bonjour !</h2>
  <div class="presentation">
    <div class="card-feature">
     <i class="far fa-address-card"></i>
      <h4>Etape I</h4>
      <p>Crée-toi un compte pour être relié automatiquement à ton député!</p>
      <%= link_to "C'est partie!", new_user_registration_path, class: 'btn-orange' %>
    </div>
    <div class="card-feature">
      <i class="fas fa-university"></i>
      <h4>Etape II</h4>
      <p>Parcours Citizens Can et découvre les lois en cours de conception!</p>
      <%= link_to "Allons-y!", laws_path, class: 'btn-orange' %>
    </div>
    <div class="card-feature">
      <i class="fas fa-user-graduate"></i>
      <h4>Etape III</h4>
      <p>Bravo citoyen(ne) ! Bienvenue à Citizens Can, fais bon usage de ces informations.</p>
      <%= link_to "Contacte ton député!", representative_path(current_user.district.representative), class: 'btn-orange' %>
    </div>
  </div>

  <div class="d-flex flex-wrap flex-row justify-content-center align-items-start py-5 my-5">

    <!-- Première ligne -->
    <div class="w-50 p-5 my-3">
      <h3 class="title-3">S'informer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor dignissim sodales. Proin sed rutrum lectus. Etiam libero justo, tristique vitae vulputate vulputate, lacinia in nulla. Ut a velit vitae dui lobortis aliquet.</p>
    </div>
    <div class="w-50 p-5 my-3">
      <img src="https://images.unsplash.com/photo-1552516937-894fa96d954d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="w-100 h-300px radius-10px object-fit-cover">
    </div>

    <!-- Deuxième ligne -->
    <div class="w-50 p-5 my-3">
      <img src="https://images.unsplash.com/photo-1612922495634-41cc15c199d3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="" class="w-100 h-300px radius-10px object-fit-cover">
    </div>
    <div class="w-50 p-5 my-3">
      <h3 class="title-3">Echanger</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor dignissim sodales. Proin sed rutrum lectus. Etiam libero justo, tristique vitae vulputate vulputate, lacinia in nulla. Ut a velit vitae dui lobortis aliquet.</p>
    </div>

    <!-- Troisième ligne -->
    <div class="w-50 p-5 my-3">
      <h3 class="title-3">Agir</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor dignissim sodales. Proin sed rutrum lectus. Etiam libero justo, tristique vitae vulputate vulputate, lacinia in nulla. Ut a velit vitae dui lobortis aliquet.</p>
    </div>
    <div class="w-50 p-5 my-3">
      <img src="https://img.lemde.fr/2019/10/06/168/0/3500/1750/1600/800/60/0/5cec1f1_GDN06_FRANCE-REFORM-IVF-PROTEST_1006_11.JPG" alt="" class="w-100 h-300px radius-10px object-fit-cover">
    </div>

  </div>

</div>
