<div class="banner_pages">
  <%= render 'shared/navbar' %>
  <h1>Lois</h1>
</div>

<div class="container">

  <div class="tabs-underlined">
    <span><a href="#" class="tab-underlined active">Toutes les propositions / projets (<%= Law.all.count %>)</a></span>
    <span><a href="#" class="tab-underlined">Lois les plus populaires</a></span>
  </div>

  <div class="searchbar-laws-container">
    <%= render 'shared/searchbar_laws' %>
  </div>

  <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>

  <% @laws.each do |law| %>
    <%= render 'shared/card_law', law: law %>
  <% end %>
  <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
</div>
