<div class="banner_pages">
  <%= render 'shared/navbar' %>
</div>

<div class="container">

  <h1 class="grey centered">Lois</h1>

  <div class="searchbar-laws-container">
    <%= render 'shared/searchbar_laws' %>
  </div>

  <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>

  <% @laws.each do |law| %>
    <%= render 'shared/card_law', law: law %>
  <% end %>
  <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
</div>
