<h1>Law</h1>

<%= @law.title %><br>
<%= @law.description %><br>
<%= @law.url %><br>
<%= @law.source %><br>

<div id="like-count">
  <%= render 'shared/likes', law: @law %>
</div>

<div id="like-link">
  <%= render 'shared/like_link', law: @law %>
</div>
