<h1>Law</h1>

<%= @law.title %><br>
<%= @law.description %><br>
<%= @law.url %><br>
<%= @law.source %><br>


<div class="votes">
  <%= link_to like_law_path(@law), class: "like", method: :put do %>
  <div class="btn-like">
    <i class="far fa-thumbs-up">POUR</i>  <%= @law.get_upvotes.size %>
  </div>
  <% end %>

  <%= link_to unlike_law_path(@law), class: "like", method: :put do %>
  <div class="btn-like">
    <i class="far fa-thumbs-down">CONTRE</i>  <%= @law.get_downvotes.size %>
  </div>
  <% end %>
</div>
